.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;

    .text {
        width: 100%;
        max-width: 500px;
        font-size: 1.4rem;
        color: rgb(39, 39, 39);
    }
}