.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .content {
        width: 100%;
        max-width: 800px;

        .text {
            margin-bottom: 2rem;
            font-size: 1.3rem;
            color: rgb(12, 12, 12);
            text-align: center;
        }
    }
}