.wrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .cover {
        z-index: 10;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.49);
        
        img {
            z-index: -1;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        .title {
            color: whitesmoke;
            font-size: 3rem;
        }

        .subTitle {
            color: whitesmoke;
            font-size: 1rem;
        }
    }

    .blocks {
        z-index: 10;
        background-color: white;
        padding: 100px 0;

        .blockWrap {
            min-height: 0vh;
            opacity: 0;
            transition: .7s all;

            &.show {
                opacity: 1;
            }
        }

        .oneBlock {
            
        }
    }

    .popup {
        background-color: white;
        border: 3px solid gold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: #303030;

        .popupText {
            font-size: 1.7rem;
            text-align: center;    
        }

        .popupBtn {
            cursor: pointer;
            border: 3px solid gold;
            margin: 2rem;
            padding: 1rem;
            padding-bottom: 1.1rem;
            font-size: 1.5rem;
        }
    }
}